// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';




.input-number{

    height: 30px;
    width: 30px;
}


.img{

    height: 30px;
    width: 30px;
}


.imgShow{


    height: 100px;
    width: 100px;
}